body { 
	padding: 0; /* Gets rid of the automatic padding */
	margin: 0;	/*	on HTML documents */
	text-align: center;
	background-color: white;
	background-size: cover;
	background-position: center;
	color: #223467;
	font-family: georgia, times, serif;
	font-size: 16px;
} 
#top_paragraph {
	background-color: #7F8C8D;
	padding: 5px 20px 5px 20px;
	max-width: 700px;
	margin: 10px auto 10px auto;
	-moz-box-shadow: 1px 1px 1px black;
	-webkit-box-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    text-indent: 0px;
    color: white;
}
a { 
	color: orange; 
} 
h1 {
	font-size: 40px; 
	color: #223467;
	font-family: verdana, helvetica, sans-serif;
/*	font-family: georgia, times, serif; */	
/*	text-shadow: 1px 1px #666666 */
}
h2 {
	font-size: 24px;
	color: #223467;
	font-family: verdana, helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: .2em;
/*	text-shadow: 3px 3px #666666 */
} 
p {
	opacity: 1.0
	font-size: 16px; 
	line-height: 1.5em;
	text-align: left;
	text-indent: 25px;
	padding: 0px 20px 20px 20px;
} 
/* naviagtion bar */
ul {  					
	list-style-type: none;  
	padding: 0;
	line-height: 1.5em;
}
/*
#navigation_bar {
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 35px;
	text-align: center;
	padding-top: 15px;
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	 Adds the transparent background 
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
}
#navigation_bar a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}
#navigation a:hover {
	color: gray;
}*/